<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
      <h6>Welcome to Artists App</h6>
      <h6>Greetings to all Authors</h6>
    </div>
  
    <ion-list>
      <ion-item>
        <ion-label>Author 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Author 2</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Author 3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Author 4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Author 5</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-content>
